<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
  <style> 
  * {
    box-sizing: border-box;
  }
  

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .invalid-error:invalid + *:before {
    color: red;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .invalid-error:invalid + .no-neg-msg:before {
    content: "Please provide a positive integer";
  }
  
  .invalid-error:invalid + .oor-msg:before {
    content: "Out of range";
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  
  
  
  
  </style>
  <!--  ----------------------------------------------------------------------  -->
  <!--  NOTE: Please add the following <FORM> element to your page.             -->
  <!--  ----------------------------------------------------------------------  -->
  
 <div class="container"> 

  <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

    <input type=hidden name="oid" value="00D4P000001deqK">
    <input type=hidden name="retURL" value="http://">
    
  <!--  ----------------------------------------------------------------------  -->
  <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
  <!--  these lines if you wish to test in debug mode.                          -->
  <!--  <input type="hidden" name="debug" value=1>                              -->
  <!--  <input type="hidden" name="debugEmail" value="timadamczyk@gmail.com">   -->
  <!--  ----------------------------------------------------------------------  -->
 <h1>MST University</h1>
 <h3>Dream the Dreams you Dream of</h3>
 
  <label for="Course"> Course:</label>
  <select  id="00N4P00000FICCb" name="00N4P00000FICCb" title="Course"><option value="">--None--</option><option value="Metaphysics">Metaphysics</option>
    <option value="Epistemology">Epistemology</option>
    <option value="Ontology">Ontology</option>
    <option value="Ethics">Ethics</option>
    <option value="Logic">Logic</option>
    <option value="Aesthetics">Aesthetics</option>
    </select><br>
  
  <label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
  
  <label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>
  
  <label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>
  
  <label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>
  
  <label for="DOB">DOB:</label>
<span class="dateInput dateOnlyInput"><input  id="00N4P00000FIQkc" name="00N4P00000FIQkc" size="12" type="date" /></span><br>
  
  <label for="street">Street</label><textarea name="street"></textarea><br>
  
  <label for="city">City</label><input  id="city" maxlength="40" name="city" size="20" type="text" /><br>
  
  <label for="state">State/Province</label><input  id="state" maxlength="20" name="state" size="20" type="text" /><br>
  
  <label for="country">Country</label><input  id="country" maxlength="40" name="country" size="20" type="text" /><br>
  
  <label for="zip">Zip</label><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>
  <br>
  <input type="submit" name="submit">
  <br> 
  </form>
  </div>